<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <!-- CSS CUSTOM -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body class = "bg-nav">
   <nav class = "navbar">
       <a href="" class="navbar-brand text-light">Pose Estimation System with Gym Tracker</a>
   </nav>

   <div class="container">
       <div class="row">
           <div class="col-md-8">
               <h1 class = "text-light display-4 mt-100" style="font-size: 75px">Track, Analyze, Excel: Achieve Optimal Performance with Pose Estimation and Gym Tracking</h1>
           </div>
           <div class="col-md-4">
               <div class="card mt-100">
                   <div class="card-body">
                       <form class="form" method="post" action="/">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% for message in messages %}
                                <div class = "alert alert-{{ message.tags }} alert-dismissible fade show" role = "alert">
                                    <strong>Message:</strong> {{ message }}
                                    <button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
                                    <span aria-hidden = "true">&times;</span>
                                </div>
                            {% endfor %}
                           <label for="">Username</label>
                           <br>
                           <input type="text" class="form-control" name="username" placeholder = "Enter your username" required>
                           <br>
                           <label for="">Password</label>
                           <br>
                           <input type="password" class="form-control" name="pass1" placeholder = "Enter your password" required> 
                           <br>
                           <br>
                           <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                       </form>
                       <p class="mt-4 ml-5">Not a member? <a href="/Signup">Signup for free</a></p>
                   </div>
               </div>
           </div>
       </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>